body {
  font-family: Arial, sans-serif;
  background: url('fundo-comida.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}


.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 2px solid #2e8b57;
}

h1 {
  color: #2e8b57;
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
  border: 1px solid #2e8b57;
}

button {
  padding: 8px;
  margin-left: 5px;
  background-color: #2e8b57;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #246b45;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.comprado {
  text-decoration: line-through;
  color: gray;
}
li div {
  display: flex;
  gap: 5px;
}

button {
  border-radius: 4px;
  padding: 5px;
}

li.comprado span {
  text-decoration: line-through;
  color: gray;
}
