body {
  font-family: Arial, sans-serif;
  background: url('comida-papel-de-parede.png');
  background-size: 100% auto; 
  background-repeat: no-repeat; 
  background-position: center; 
  display: flex;
  justify-content: center;
  padding-top: 50px;
}




.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 2px solid #bcd22c;
}

h1 {
  color: #bcd22c;
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
  border: 1px solid #bcd22c;
}

button {
  padding: 8px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #bcd22c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#limpar {
  margin-left: 0;
  background-color: #a52a2a;
}

button:hover {
  background-color: #bcd22c;
}

#limpar:hover {
  background-color: #800000;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li div {
  display: flex;
  gap: 5px;
}

li.comprado span {
  text-decoration: line-through;
  color: gray;
}
